<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Orderbook</title>
</head>

<body>

    <header>
        <h2>Orderbook of {{data.symbol}}</h2>
    </header>
    
    symbol {{data.symbol}}
    bidPrice {{data.bidPrice}}
    bidQty {{data.bidQty}}
    askPrice {{data.askPrice}}
    askQty {{data.askQty}}

</body>

</html>