<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Orderbook</title>
   </head>
   <body>
      <header>
         <h2>Orderbook of {{symbol}}</h2>
      </header>
      <div class="orderlist-container">
         <table class="orderbook-bid">
            <tr class="orderbook-header">
               <th class="item">Size</th>
               <th class="item">Bid</th>
            </tr>
            {{#each bidOrderList}}
                <tr>
                  <td>{{price}}</td>
                  <td>{{qty}}</td>
                </tr>
            {{/each}}
         </table>
         <table class="orderbook-ask">
            <tr class="orderbook-header">
               <th>Size</th>
               <th>Ask</th>
            </tr>
            {{#each askOrderList}}
                <tr>
                  <td>{{price}}</td>
                  <td>{{qty}}</td>
                </tr>
            {{/each}}
         </table>
      </div>
   </body>
</html>